@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&family=Roboto&display=swap");
@import url("adaptive");
*, *:before, *:after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*Стили для демонстрации*/
html, body {
  height: 100%;
  color: #fff;
  font-size: 14px;
  font-family: 'Kaushan Script', cursive;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  overflow: hidden;
  max-width: 100%;
  min-height: auto;
  padding: 50px;
  display: -ms-grid;
  display: grid;
  margin: 0 auto;
}

.content {
  background: url("/img/picture_4.svg") no-repeat;
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.bd-grid {
  max-width: 1200px;
  min-width: 100%;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .wrapper {
    padding: 50px 10px;
  }
}

.menu {
  min-height: 1005px;
  height: auto;
}

.menu .menu-top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
}

.menu .menu-top .logo {
  font-family: Montserrat;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
}

@media only screen and (max-width: 768px) {
  .menu .menu-top .burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
  }
  .menu .menu-top .burger::before,
  .menu .menu-top .burger::arter {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }
}

.menu .menu-top .r-menu {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
}

.menu .menu-top .r-menu a {
  margin-left: 50px;
  text-decoration: none;
  padding-bottom: 10px;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #fce38a;
}

.menu .menu-top .r-menu .cart {
  width: 18px;
  height: 15px;
}

.menu .menu-top .r-menu .active {
  border-bottom: 2px solid #fff;
}

.menu-middle {
  margin-top: 150px;
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.menu-middle h2 {
  font-family: 'Kaushan Script';
  font-size: 72px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  padding-bottom: 35px;
}

.menu-middle h3 {
  font-family: Montserrat;
  font-size: 150px;
  line-height: 140px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.menu-middle .line {
  margin: 60px 0 40px;
  width: 60px;
  height: 3px;
  background-color: #ffffff;
}

.menu-middle .btn {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  padding: 15px 30px;
  border: 3px solid #fff;
}

.menu .banner {
  margin-top: 145px;
}

.menu .banner .slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu .banner .slide {
  margin-right: 30px;
}

.menu .banner .line {
  width: 280px;
  height: 3px;
  background-color: #ffffff;
  margin-bottom: 25px;
}

.menu .banner .num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.menu .banner h2 {
  font-family: Montserrat;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  margin-right: 5px;
}

.menu .banner h3 {
  font-family: Montserrat;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 5px;
}

.menu .banner h3 a {
  text-decoration: none;
  color: #ffffff;
}

.what .what-items {
  text-align: center;
}

.what .what-items h2 {
  margin: 90px 0 20px;
  font-family: 'Kaushan Script';
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  color: #333333;
}

.what .what-items h3 {
  font-family: Montserrat;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
}

.what .what-items .line {
  width: 60px;
  border-bottom: 3px solid #f38181;
  margin: 50px auto;
}

.what .what-items p {
  font-family: Roboto;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
  width: 950px;
  padding-bottom: 100px;
  margin: 0 auto;
}

.what .what-items .what-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 100px;
}

.what .what-items .what-img img {
  width: 380px;
  height: 250px;
  background-color: #000000;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(252, 227, 138, 0.89)), to(rgba(243, 129, 129, 0.89)));
  background-image: linear-gradient(0deg, rgba(252, 227, 138, 0.89) 0%, rgba(243, 129, 129, 0.89) 100%);
  margin-right: 30px;
}

.facts {
  background-color: #95e1d3;
}

.facts .facts-items {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
}

.facts .facts-items .facts-item {
  margin: 80px 0;
  text-align: center;
}

.facts .facts-items .facts-item h2 {
  font-family: Montserrat;
  font-size: 72px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.facts .facts-items .facts-item p {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}

.what-w .what-work {
  margin-top: 100px;
  text-align: center;
}

.what-w .what-work h2 {
  margin-bottom: 20px;
  font-family: 'Kaushan Script';
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  color: #333333;
}

.what-w .what-work h3 {
  font-family: Montserrat;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
}

.what-w .what-work .line {
  width: 60px;
  border-bottom: 3px solid #f38181;
  margin: 50px auto;
}

.what-w .what-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  margin-bottom: 120px;
}

.what-w .what-items .what-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.what-w .what-items .what-item img {
  margin-right: 20px;
}

.what-w .what-items .what-item .text {
  width: 270px;
  display: -ms-grid;
  display: grid;
  justify-items: start;
}

.what-w .what-items .what-item .text h2 {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 10px;
}

.what-w .what-items .what-item .text p {
  font-family: Roboto;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.what-u {
  background: url("/img/rectangle_21_928.svg");
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.what-u .what-uniq {
  margin-top: 100px;
  text-align: center;
}

.what-u .what-uniq h2 {
  margin-bottom: 20px;
  font-family: 'Kaushan Script';
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  color: #333333;
}

.what-u .what-uniq h3 {
  font-family: Montserrat;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
}

.what-u .what-uniq .line {
  width: 60px;
  border-bottom: 3px solid #f38181;
  margin: 50px auto;
}

.what-u .what-uniq .what-items {
  position: relative;
}

.what-u .what-uniq .what-items .small {
  position: absolute;
  top: 200px;
  right: 200px;
  z-index: 3;
}

.what-s .what-service {
  text-align: center;
}

.what-s .what-service h2 {
  margin: 90px 0 20px;
  font-family: 'Kaushan Script';
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  color: #333333;
}

.what-s .what-service h3 {
  font-family: Montserrat;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
}

.what-s .what-service .line {
  width: 60px;
  border-bottom: 3px solid #f38181;
  margin: 50px auto;
}

.what-s .what-service p {
  font-family: Roboto;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
  width: 950px;
  padding-bottom: 100px;
  margin: 0 auto;
}

.what-s .what-service .what-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-column-gap: 40px;
}

.what-s .what-service .what-items .what-item2 {
  text-align: center;
  /* Acordeon styles */
}

.what-s .what-service .what-items .what-item2 .tab .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-column-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  position: relative;
  padding: 10px 300px 10px 30px;
  cursor: pointer;
  border: 1px solid #e5e5e5;
  height: 85px;
}

.what-s .what-service .what-items .what-item2 .tab .title img {
  width: 32px;
  height: 32px;
  background-color: #95e1d3;
}

.what-s .what-service .what-items .what-item2 .tab .title .h2 {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
}

.what-s .what-service .what-items .what-item2 .tab .p {
  position: relative;
  font-family: Roboto;
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;
  font-style: italic;
  color: #999999;
  margin-bottom: 20px;
  display: none;
  border: 1px solid #e5e5e5;
  width: 495px;
  height: auto;
  padding: 0 20px 0 60px;
  text-align: left;
}

.what-s .what-service .what-items .what-item2 .tab .p:after {
  content: url("/img/Rectangle 11 copy.svg");
  position: absolute;
  top: 0px;
  right: 0px;
  padding-left: 50px;
}

.what-s .what-service .what-items .what-item2 .tab .title:after,
.what-s .what-service .what-items .what-item2 .tab .title:before {
  content: '';
  width: 10px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 20px;
  right: 0px;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.what-s .what-service .what-items .what-item2 .tab .title:before {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  left: 480px;
}

.what-s .what-service .what-items .what-item2 .tab .title:after {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  left: 488px;
}

.what-s .what-service .what-items .what-item2 .tab .title.active:before,
.what-s .what-service .what-items .what-item2 .tab .title.active:after {
  background-color: red;
}

.what-s .what-service .what-items .what-item2 .tab .title.active:before {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.what-s .what-service .what-items .what-item2 .tab .title.active:after {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.quote-items {
  padding: 70px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.quote-items img {
  padding: 40px;
  background-color: rgba(0, 0, 0, 0);
  border: 3px solid #95e1d3;
  margin-right: 40px;
}

.quote-items .text-items .jd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quote-items .text-items .jd .jd-text {
  font-family: 'Kaushan Script';
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  color: #333333;
}

.quote-items .text-items .jd .line {
  width: 60px;
  border-bottom: 3px solid #f38181;
  margin-right: 20px;
}

.quote-items .text-items .q-text {
  font-family: Roboto;
  font-size: 24px;
  line-height: 36px;
  font-weight: 300;
  font-style: italic;
  color: #999999;
  margin-bottom: 20px;
  width: 760px;
}

.ourteam .our-team {
  margin-bottom: 120px;
  text-align: center;
}

.ourteam .our-team h2 {
  margin: 90px 0 20px;
  font-family: 'Kaushan Script';
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  color: #333333;
}

.ourteam .our-team h3 {
  font-family: Montserrat;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
}

.ourteam .our-team .line {
  width: 60px;
  border-bottom: 3px solid #f38181;
  margin: 50px auto;
}

.ourteam .our-team p {
  font-family: Roboto;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
  width: 950px;
  padding-bottom: 100px;
  margin: 0 auto;
}

.ourteam .our-team .team-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-column-gap: 30px;
}

.ourteam .our-team .team-items .team-item img {
  width: 380px;
  height: 470px;
  margin-bottom: 30px;
}

.ourteam .our-team .team-items .team-item .how {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 15px;
}

.ourteam .our-team .team-items .team-item .howis {
  font-family: Roboto;
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;
  font-style: italic;
  color: #999999;
}

.logos-item {
  width: 1212px;
  height: 149px;
  opacity: 0.8;
  padding: 50px 0;
}

.work {
  margin-top: 100px;
}

.work-our {
  text-align: center;
}

.work-our h2 {
  margin: 90px 0 20px;
  font-family: 'Kaushan Script';
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  color: #333333;
}

.work-our h3 {
  font-family: Montserrat;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
}

.work-our .line {
  width: 60px;
  border-bottom: 3px solid #f38181;
  margin: 50px auto;
}

.work-our p {
  font-family: Roboto;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
  width: 950px;
  padding-bottom: 100px;
  margin: 0 auto;
}

.work .work-items {
  background-color: #999;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(320px, 480px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(320px, 480px));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work .work-items .work-item img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center bottom;
     object-position: center bottom;
  width: 480px;
  height: 390px;
  min-width: 100%;
  min-height: auto;
  background-color: #95e1d3;
}

.work .work-items .item3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/ span 2;
  -ms-grid-column: 3;
  grid-column: 3;
  margin: 0;
  /* Обнуляем отступы */
}

.work .work-items .item3 img {
  min-height: 100%;
  /* Высота изображении */
}

.work .work-items .item4 img {
  -o-object-position: center 0;
     object-position: center 0;
}

.work .work-items .item7 img {
  -o-object-position: 0 0;
     object-position: 0 0;
}

.testimonial .test-items {
  margin: 100px auto;
}

.testimonial .test-items .test-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.testimonial .test-items .test-item img {
  width: 210px;
  height: 210px;
  margin-right: 40px;
  margin-left: 90px;
}

.testimonial .test-items .test-item .block1 p {
  font-family: Roboto;
  font-size: 24px;
  line-height: 36px;
  font-weight: 300;
  font-style: italic;
  color: #999999;
  margin: 35px 0 20px;
  width: 770px;
}

.testimonial .test-items .test-item .block1 .block2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial .test-items .test-item .block1 .block2 .line {
  width: 60px;
  border-bottom: 3px solid #f38181;
  margin-right: 20px;
}

.testimonial .test-items .test-item .block1 .block2 .fio {
  font-family: 'Kaushan Script';
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  color: #333333;
}

/* Основные стили */
.test-items {
  padding: 30px 0 70px 0;
}

.image-slider_image {
  text-align: center;
}

.image-slider_image img {
  max-width: 100%;
}

.test-items .swiper-button-next::after,
.test-items .swiper-button-prev::after {
  color: #000;
  font-size: 80px;
  font-weight: bold;
}

.test-items .swiper-pagination {
  bottom: 0px;
}

.test-items .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  background-color: #000;
}

.happy {
  background-color: rgba(255, 255, 255, 0.85);
}

.happy .happy-clients {
  margin: 90px auto;
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.happy .happy-clients h2 {
  font-family: 'Kaushan Script';
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  color: #333333;
}

.happy .happy-clients h3 {
  font-family: Montserrat;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
  margin: 10px 0 40px;
}

.happy .happy-clients .line {
  width: 60px;
  border-bottom: 3px solid #f38181;
}

.happy .happy-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  justify-items: space-around;
}

.happy .happy-items .happy-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 80px 80px 40px;
}

.happy .happy-items .happy-item img {
  width: 110px;
  height: 110px;
  background-color: #fce38a;
  margin-right: 20px;
}

.happy .happy-items .happy-item h2 {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
}

.happy .happy-items .happy-item h3 {
  font-family: Roboto;
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;
  font-style: italic;
  color: #333333;
}

.happy .happy-items .happy-item .line {
  width: 60px;
  border-bottom: 3px solid #f38181;
  margin: 15px 0 25px;
}

.happy .happy-items .happy-item p {
  font-family: Roboto;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
  width: 370px;
}

.stories .stories-our {
  margin: 90px auto;
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.stories .stories-our h2 {
  font-family: 'Kaushan Script';
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  color: #333333;
  margin-bottom: 20px;
}

.stories .stories-our h3 {
  font-family: Montserrat;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
}

.stories .stories-our .line {
  width: 60px;
  border-bottom: 3px solid #f38181;
  margin: 40px 0 0px;
}

.stories .stories-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}

.stories .stories-items .stories-item {
  position: relative;
}

.stories .stories-items .stories-item img {
  width: 380px;
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
}

.stories .stories-items .stories-item .text {
  position: absolute;
  top: 160px;
  left: -10px;
  padding: 15px;
  background-color: #95e1d3;
}

.stories .stories-items .stories-item .text a1 {
  font-family: Montserrat;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.stories .stories-items .stories-item .text a2 {
  font-family: Roboto;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 300;
  font-style: italic;
  text-transform: none;
  color: #ffffff;
}

.stories .stories-items .stories-item h2 {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
  margin-top: 20px;
}

.stories .stories-items .stories-item p {
  font-family: Roboto;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
  margin: 20px 0;
}

.stories .stories-items .stories-item .line {
  width: 380px;
  border-bottom: 1px solid #e5e5e5;
}

.map {
  text-align: center;
  margin: 60px auto;
}

.map img {
  width: 20px;
  height: 26px;
  margin: 20px auto;
}

.map h2 {
  font-family: Montserrat;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #f38181;
}

.map .line {
  width: 60px;
  border-bottom: 3px solid #f38181;
  margin: 20px auto;
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 350px;
}

.footer-top .top1 h2 {
  font-family: Montserrat;
  font-size: 46px;
  line-height: 1.2;
  font-weight: 700;
  color: #cccccc;
  margin: 0px;
}

.footer-top .top1 p {
  font-family: Roboto;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
  width: 465px;
  height: 90px;
  margin: 30px 0;
  overflow: hidden;
}

.footer-top .top1 h3 {
  font-family: Montserrat;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  color: #333333;
}

.footer-top .top1 h4 {
  font-family: Roboto;
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;
  font-style: italic;
  color: #999999;
  margin: 30px 0;
}

.footer-top .top1 .block1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-top .top1 .block1 input[type='email'] {
  font-family: Roboto;
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;
  font-style: italic;
  color: #cccccc;
  width: 230px;
  height: 40px;
  background-color: #ffffff;
  border: 1px solid #e7e7e7;
}

.footer-top .top1 .block1 .button {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  background-color: #95e1d3;
  padding: 11px 30px;
}

.footer-top .top2 h2 {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 40px;
}

.footer-top .top2 .top2-items .top2-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 30px;
}

.footer-top .top2 .top2-items .top2-item img {
  width: 120px;
  height: 80px;
  background-color: #000000;
  margin-right: 20px;
}

.footer-top .top2 .top2-items .top2-item .box2 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-top .top2 .top2-items .top2-item .box2 h2 {
  font-family: Montserrat;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
  width: 210px;
  margin: 10px 0 0 0;
}

.footer-top .top2 .top2-items .top2-item .box2 p {
  font-family: Roboto;
  font-size: 13px;
  line-height: 24px;
  font-weight: 300;
  font-style: italic;
  color: #999999;
}

.footer-top .top3 h2 {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 40px;
}

.footer-top .top3 p {
  font-family: Roboto;
  font-size: 13px;
  line-height: 24px;
  font-weight: 300;
  font-style: italic;
  color: #333333;
}

.footer-top .top3 .box3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2px;
  margin-bottom: 20px;
}

.footer-top .top3 .box3 img {
  width: 88px;
  height: 88px;
  background-color: #000000;
}

.footer .line {
  width: 1200px;
  border-bottom: 1px solid #e5e5e5;
  margin: 70px 0 25px;
}

.footer .footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
}

.footer .footer-bottom .left {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #333333;
  margin-right: 10px;
}

.footer .footer-bottom .right {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #f38181;
}

@media only screen and (max-width: 1950px) {
  .wrapper .content {
    max-width: 1900px;
    grid-gap: 10px;
    margin: 0 auto;
  }
  .work {
    max-width: 1900px;
    grid-gap: 10px;
  }
  .work .work-items .item3 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1/ span 3;
    -ms-grid-column: 3;
    grid-column: 3;
  }
  .work .work-items .item3 img {
    max-width: 100%;
    /* Ширина изображений */
    min-height: 100%;
  }
}

@media only screen and (max-width: 1500px) {
  .wrapper .content {
    max-width: 1500px;
    grid-gap: 10px;
    margin: 0 auto;
  }
  .work {
    max-width: 1500px;
    grid-gap: 10px;
  }
  .work .work-items .item3 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1/ span 3;
    -ms-grid-column: 3;
    grid-column: 3;
  }
  .work .work-items .item3 img {
    max-width: 100%;
    /* Ширина изображений */
    min-height: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  .wrapper .content {
    max-width: 1200px;
    grid-gap: 10px;
    margin: 0 auto;
  }
  .bd-grid {
    max-width: 0px;
  }
  .work {
    max-width: 1200px;
    grid-gap: 10px;
  }
  .menu .menu-top {
    display: -ms-grid;
    display: grid;
    grid-auto-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 20px;
  }
  .menu .menu-top .r-menu {
    display: -ms-grid;
    display: grid;
    grid-auto-flow: column;
    margin-left: 50px;
  }
  .menu .logo h2 {
    margin: 0;
    padding: 0;
  }
  .work .work-items .item3 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/ span 2;
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .work .work-items .item3 img {
    max-width: 100%;
    /* Ширина изображений */
    min-height: 100%;
  }
}

@media only screen and (max-width: 992px) {
  .wrapper .content {
    max-width: 992px;
    grid-gap: 10px;
    margin: 0 auto;
  }
  .menu .menu-top {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 20px;
  }
  .menu .menu-top .r-menu {
    display: -ms-grid;
    display: grid;
    grid-auto-flow: column;
  }
  .menu .menu-top .burger {
    display: none;
    display: block;
  }
  .menu .logo {
    margin: 0 auto;
    padding-bottom: 40px;
  }
  .menu .logo h2 {
    margin: 0;
    padding: 0;
  }
  .work {
    max-width: 922px;
    grid-gap: 10px;
  }
  .work .work-items .item3 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/ span 2;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .work .work-items .item3 img {
    max-width: 100%;
    /* Ширина изображений */
    min-height: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .wrapper {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
    padding: 0;
  }
  .wrapper .content {
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
  }
  .wrapper .content .menu-middle {
    margin: 150px auto;
  }
  .wrapper .content .menu-middle h2 {
    font-size: 36px;
  }
  .wrapper .content .menu-middle h3 {
    font-size: 75px;
    line-height: 70px;
  }
}
/*# sourceMappingURL=style.css.map */