
/*Обнуление*/
*,*:before,*:after{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
/*Стили для демонстрации*/
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&family=Roboto&display=swap');
html,body{
	height: 100%;
	//background-color: #333;
	//font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #fff;
	font-size: 14px;
   font-family: 'Kaushan Script', cursive;
   font-family: 'Montserrat', sans-serif;
   font-family: 'Roboto', sans-serif;
}
.wrapper{
   overflow: hidden;
	min-height: 100%;
   
	padding: 50px;
	display: grid;
	justify-content:center;
	////align-items: center;
    //margin:0 auto;
}
.content{
   padding: 20px 360px;
   background: url("/img/picture_4.svg") no-repeat;
       margin:0 auto;
       width:100%;
       height:auto;
}

.bd-grid{
    width: 1200px;
   margin:0 auto;

}

@media (max-width:767px){
	.wrapper{padding: 50px 10px;}
}

.menu{
   min-height:1005px;
   height:auto;
  & .menu-top{
      display: flex;
     align-items: center;
      justify-content: space-between;
     
   }
   & .logo{
         font-family: Montserrat;
         font-size: 30px;
         line-height: 1.2;
         font-weight: 700;
         //text-transform: uppercase;
         color: #ffffff;
   }
   & .r-menu{
     
      
      & a{
         margin-left:50px;
         text-decoration: none;
          padding-bottom: 10px;
           font-family: Montserrat;
      font-size: 14px;
      line-height: 1.2;
      font-weight: 400;
      text-transform: uppercase;
      color: #fce38a;
      }
      & .cart{
         width: 18px;
         height: 15px;
         //background-color: #ffffff;
      }
      & .active{
       
         border-bottom:2px solid #fff;
      }
       
   }
   &-middle{
      margin-top:150px;
      display: grid;
      justify-items: center;
      & h2{
      font-family: 'Kaushan Script';
      font-size: 72px;
      line-height: 1.2;
      font-weight: 400;
      color: #ffffff;
      padding-bottom:35px;

      }
      & h3{
         font-family: Montserrat;
         font-size: 150px;
         line-height: 140px;
         font-weight: 700;
         text-transform: uppercase;
         color: #ffffff;
      }
      & .line{
         margin:60px 0 40px;
         width: 60px;
         height: 3px;
         background-color: #ffffff;
      }
      & .btn{
         font-family: Montserrat;
         font-size: 14px;
         line-height: 1.2;
         font-weight: 700;
         text-transform: uppercase;
         color: #ffffff;
         text-decoration: none;
         padding:15px 30px;
         border: 3px solid #fff;
      }
   }
 & .banner{
    margin-top:145px;
   & .slides{
      display: flex;
     
   }
   & .slide{
       margin-right:30px;
   }

      & .line{
            width: 280px;
            height: 3px;
            background-color: #ffffff;
            margin-bottom: 25px;
      }
      & .num{
         display: flex;
         margin-bottom: 20px;
      }
      & h2{
         font-family: Montserrat;
         font-size: 24px;
         line-height: 1.2;
         font-weight: 700;
         text-transform: uppercase;
         color: #ffffff;
         margin-right:5px;
         
         
      }
      & h3 {
         
      font-family: Montserrat;
      font-size: 18px;
      line-height: 1.2;
      font-weight: 400;
      text-transform: uppercase;
      //color: #ffffff;
      margin-top:5px;
     
      & a{
        text-decoration: none; 
        color: #ffffff;
        
        }
      }
      
   
}


} //menu

.what{
  & .what-items{
   text-align: center;
   & h2{
      margin: 90px 0 20px;
      font-family: 'Kaushan Script';
      font-size: 24px;
      line-height: 1.2;
      font-weight: 400;
      color: #333333;
   }
   & h3{
      font-family: Montserrat;
      font-size: 30px;
      line-height: 1.2;
      font-weight: 700;
      text-transform: uppercase;
      color: #333333;
   }
   & .line{
      width: 60px;
      //height: 3px;
      //background-color: #f38181;
      border-bottom: 3px solid #f38181;
     
   margin: 50px auto;
   }
   & p{
      font-family: Roboto;
      font-size: 15px;
      line-height: 24px;
      font-weight: 400;
      color: #999999;
      width:950px;
      padding-bottom: 100px;
      margin: 0 auto;

   }
   & .what-img{
      display: flex;
      padding-bottom: 100px;
      & img{
         width: 380px;
         height: 250px;
         background-color: #000000;
         background-image: linear-gradient(0.0deg, rgba(252,227,138,0.89) 0%, rgba(243,129,129,0.89) 100%);
         margin-right: 30px;
      }
   }
  }
}
.facts{
 background-color: #95e1d3;

  & .facts-items{

   display: grid;
   //grid-auto-flow: column;
   grid-template-columns: repeat(5,1fr);
   //justify-items: space-between;

   & .facts-item{
   margin:80px 0;
   text-align: center;
   & h2{
      font-family: Montserrat;
      font-size: 72px;
      line-height: 1.2;
      font-weight: 700;
      text-transform: uppercase;
      color: #ffffff;
      margin-bottom: 20px;
   }
   & p{
     font-family: Montserrat;
      font-size: 14px;
      line-height: 1.2;
      font-weight: 400;
      text-transform: uppercase;
      color: #ffffff;
   }
  }
}
}

.what-w{
  & .what-work{

         margin-top: 100px;
         text-align: center;
         & h2{
            margin-bottom:20px;
            font-family: 'Kaushan Script';
            font-size: 24px;
            line-height: 1.2;
            font-weight: 400;
            color: #333333;
         }
         & h3{
            font-family: Montserrat;
            font-size: 30px;
            line-height: 1.2;
            font-weight: 700;
            text-transform: uppercase;
            color: #333333;
         }
         & .line{
            width: 60px;
            //height: 3px;
            //background-color: #f38181;
            border-bottom: 3px solid #f38181;
         
            margin: 50px auto;
         }  
   }

   & .what-items{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-gap: 30px;

      & .what-item{
         display: flex;
         align-items: start;
        
         //padding:30px;
         & img{
            margin-right: 20px;
         }
         & .text{
             width: 270px;
             display: grid;
            justify-items: start;
            & h2{
                  font-family: Montserrat;
                  font-size: 14px;
                  line-height: 1.2;
                  font-weight: 400;
                  text-transform: uppercase;
                  color: #333333;  
                  margin-bottom:10px;
            }
            & p{
               font-family: Roboto;
               font-size: 15px;
               line-height: 24px;
               font-weight: 400;
               color: #999999;
            }
         }
      }
   } 
}


/* Основные стили */
.title{
   font-size: 30px;
   font-weight: 700px;
   color:#fff;
   margin:0 0 30px 0;
}
.image-slider{
   padding:30px 0 70px 0;
}
.image-slider_wrapper{

}
.image-slider_slide{

}
.image-slider_image{
   text-align: center;
}
.image-slider_image img{
max-width: 100%;
}
.image-slider .swiper-button-next::after,
.image-slider .swiper-button-prev::after{
   color:#fff;
   font-size: 80px;
   font-weight: bold;
}

//pagination
.image-slider .swiper-pagination{
   bottom:0;
}
.image-slider .swiper-pagination-bullet{
   width: 20px;
   height: 20px;
   line-height: 20px;
   font-size: 14px;
   background-color:#fff;
}